@import '@fontsource/inter/400.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Inter', sans-serif;
    @apply text-foreground bg-background;
}


#background-root {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    background-image: linear-gradient(350deg, #fafafa, #f4f1f0 24%, #f2eeeb 61%, #f1eaeb 81%, #f0eaee 90%, #f2f3f7);
}

.dark #background-root {
    background-image: linear-gradient(355deg, #000, #160c0c 30%, #171019 75%, #101119);
}
